@import "modal1";
@import "modal2";
@import "modal3";


.gridContainer
{
	display: grid;
	grid-template-areas: 'left middle right';
	grid-gap: 40px;
	padding-left: 100px;
	padding-right: 100px;

}


.button1
{

	grid-area: left;


	background-image:url("thumbnailReal.png");
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.5;


	padding: 1em 2em;
	color: #fff;
	border: 0;
	border-radius: 0px 0px 0px 0px;
	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);

	transition: all 0.3s ease;

	&:hover 
	{
		color: black;

		-webkit-transform:scale(1.05); /* Safari and Chrome */
  	    -moz-transform:scale(1.05); /* Firefox */
        -ms-transform:scale(1.05); /* IE 9 */
        -o-transform:scale(1.05); /* Opera */
        transform:scale(1.05);
	}
	height: 650px;

	font-family: 'Inconsolata';
	font-size: 40px;
	font-variant: small-caps;
	text-align: left;
	color: black;


}

.button2
{
	grid-area: right;

	background-repeat: no-repeat;
	background-size: cover;
	background-image:url("witchStill1.png");
	opacity: 0.5;

	padding: 1em 2em;
	color: #fff;
	float:center;
	border: 0;
	border-radius: 0px 0px 0px 0px;
	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);

	transition: all 0.4s ease;

	&:hover 
	{
		color: black;

		-webkit-transform:scale(1.05); /* Safari and Chrome */
  	    -moz-transform:scale(1.05); /* Firefox */
        -ms-transform:scale(1.05); /* IE 9 */
        -o-transform:scale(1.05); /* Opera */
        transform:scale(1.05);
	}
	height: 650px;

	font-family: 'Inconsolata';
	font-size: 40px;
	font-variant: small-caps;	
	text-align: left;
	color: black;

}

.button3
{
	grid-area: middle;

	background-repeat: no-repeat;
	background-size: cover;
	background-image:url("code.PNG");

	opacity: 0.5;
	
	padding: 1em 2em;
	color: #fff;
	float:left;
	border: 0;
	border-radius: 0px 0px 0px 0px;
	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);

	transition: all 0.4s ease;

	&:hover 
	{
		color: black;

		-webkit-transform:scale(1.05); /* Safari and Chrome */
  	    -moz-transform:scale(1.05); /* Firefox */
        -ms-transform:scale(1.05); /* IE 9 */
        -o-transform:scale(1.05); /* Opera */
        transform:scale(1.05);
	}
	height: 650px;

	font-family: 'Inconsolata';
	font-size: 40px;
	font-variant: small-caps;	
	text-align: left;
	color: black;


}




